node_modules

build
public/build
dist

.cache
.env
.wrangler
.dev.vars
.turbo
.react-router
.svelte-kit
.playwright-cli

coverage
playwright-report
__screenshots__
/output/
packages/server/static/tracker.js
